name: CI

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        if: runner.environment == 'github-hosted'
        with:
          node-version: 22

      - run: npm ci
      - run: npm test
